@font-face {
  font-family: "tektur";
  src: url("/fonts/Tektur-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "tektur", sans-serif;
  font-variation-settings: "wght" 100;
}

.header {
  @apply bg-body dark:bg-darkmode-body py-2;
}

.social-icon {
  @apply bg-white text-primary dark:bg-primary dark:text-white rounded-full;
}

.box-emphasis {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

.content img {
  @apply block w-md shadow-lg hover:shadow-2xl
}
