@font-face {
  font-family: "EduQLDBeginner";
  src: url("/fonts/EduQLDBeginner-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "nunito", sans-serif;
  font-variation-settings: "wght" 600;
}

.header {
  @apply bg-body dark:bg-darkmode-body py-2;
}

.social-icon {
  @apply bg-white text-primary dark:bg-primary dark:text-white rounded-full;
}

.box-emphasis {
  @apply bg-black text-white dark:bg-white dark:text-black;
}
