{{ define "main" }}
<section class="section -mt-30">
  <div class="container flex flex-nowrap flex-col md:flex-row">
    <div class="w-full md:w-64 z-90">
      <!-- Logo -->
      <div class="sticky top-0">
        <div class="max-w-full w-100 md:w-64 mx-auto">
          <hyper-card class="max-w-full w-100 md:w-64 flex rounded">
            <a
              href="/"
              data-script="
  on mouseenter
  transition #main-content's opacity to 0.4 over 100ms
  {{ range site.Menus.main }}
    add .box-emphasis to #{{.Name}}
    transition #{{.Name}}'s scale to 1.1 over 100ms
  {{ end }}
  {{ range site.Data.social.main }}
    add .box-emphasis to #{{.name}}
    transition #{{.name}}'s scale to 1.1 over 100ms
  {{ end }}
  end
  on mouseleave
  transition #main-content's opacity to initial over 100ms
  {{ range site.Menus.main }}
    remove .box-emphasis from #{{.Name}}
    transition #{{.Name}}'s scale to initial over 100ms
  {{ end }}
  {{ range site.Data.social.main }}
    remove .box-emphasis from #{{.name}}
    transition #{{.name}}'s scale to initial over 100ms
  {{ end }}
  end
"
            >
              <svg style="width: 100%; height: 100%;" width="3937" height="1156" viewBox="0 0 3937 1156" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2093 1108C2159.62 1108 2281.28 1095.13 2342.83 1069.2C2404.38 1043.27 2460.31 1005.26 2507.41 957.347C2554.52 909.432 2591.89 852.549 2617.38 789.945C2642.88 727.341 2656 660.242 2656 592.48C2656 524.718 2642.88 457.619 2617.38 395.015C2591.89 332.411 2554.52 275.527 2507.41 227.612C2460.31 179.697 2404.38 141.689 2342.83 115.758C2281.28 89.8262 2159.62 76 2093 76" stroke="black" stroke-width="60"/>
                <path d="M1023.2 343.167C997.271 281.618 959.262 225.693 911.347 178.586C863.432 131.478 806.549 94.1105 743.945 68.6162C681.341 43.1218 614.242 30 546.48 30C478.718 30 411.619 43.1218 349.015 68.6162C286.411 94.1105 229.527 131.478 181.612 178.586C133.697 225.693 95.689 281.618 69.7576 343.167C43.8262 404.715 30 526.38 30 593" stroke="black" stroke-width="60"/>
                <path d="M3274.5 344.227C3274.5 310.95 3268.07 250.176 3255.12 219.432C3242.17 188.687 3223.18 160.752 3199.25 137.221C3175.31 113.69 3146.9 95.0244 3115.63 82.2896C3084.35 69.5548 3050.84 63.0002 3016.99 63.0002C2983.14 63.0002 2949.62 69.5548 2918.35 82.2896C2887.08 95.0244 2858.67 113.69 2834.73 137.221C2810.8 160.752 2791.81 188.687 2778.86 219.432C2765.91 250.176 2759 310.95 2759 344.227" stroke="black" stroke-width="60"/>
                <path d="M1715 76C1646.71 76 1579.09 89.3597 1516 115.316C1452.92 141.273 1395.59 179.318 1347.3 227.279C1299.02 275.241 1260.72 332.179 1234.58 394.844C1208.45 457.509 1195 524.672 1195 592.5C1195 660.328 1208.45 727.491 1234.58 790.156C1260.72 852.821 1299.02 909.759 1347.3 957.721C1395.59 1005.68 1452.92 1043.73 1516 1069.68C1579.09 1095.64 1646.71 1109 1715 1109" stroke="black" stroke-width="60"/>
                <path d="M2066 1122.5C1948.25 726 1629.05 593 1413.5 593" stroke="black" stroke-width="60"/>
                <path d="M1715 76H2066V1109H1715" stroke="black" stroke-width="60"/>
                <line x1="1204" y1="592" x2="1415" y2="592" stroke="black" stroke-width="60"/>
                <line x1="3440.5" y1="1126" x2="3936.5" y2="1126" stroke="black" stroke-width="60"/>
                <path d="M3440.5 1126C3357.11 1126 3275 1019.39 3275 936" stroke="black" stroke-width="60"/>
                <path d="M30 1139L30 593" stroke="black" stroke-width="60"/>
                <path d="M1062 1139L1062 593" stroke="black" stroke-width="60"/>
                <path d="M549 1139L549 593" stroke="black" stroke-width="60"/>
                <path d="M1057.95 491.34L1049 431" stroke="black" stroke-width="60"/>
                <path d="M2759 1139V344" stroke="black" stroke-width="60"/>
                <path d="M3275 936L3275 344" stroke="black" stroke-width="60"/>
              </svg>

            </a>
          </hyper-card>
        </div>
        <div class="spacer size-4"></div>
        <div class="mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
          <ul class="social-icons flex justify-center">
            {{ range site.Data.social.main }}
            <li>
              <a
                id="{{ .name }}"
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}"
                class="social-icon"
                data-script="install BoxHighlight">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <!-- END Logo -->
    </div>
    <div id="main-content" class="container">
      <article class="content max-w-xl">
        {{ .Content }}
      </article>
      <!-- Experience -->
      {{ with .Params.experience }}
      <article id="experience" class="relative my-4 max-w-xl">
        <h2
          class="text-3xl mb-[0.3em] font-bold capitalize dark:text-gray-50 sm:text-4xl">
          {{ .title }}
        </h2>

        <div>
          <!-- Latest experience -->
          {{ range $index, $job := .jobs }}
          {{ if eq $index 0 }}
          <div class="relative">
            <div class="relative max-w-md sm:max-w-3xl lg:max-w-none">
              <div class="relative pt-8 overflow-hidden shadow-xl rounded-2xl">
                <div class="absolute inset-0 bg-indigo-300 mix-blend-multiply"></div>
                <div class="absolute inset-0 bg-gradient-to-t from-indigo-600">
                </div>

                <div class="relative px-8 max-w-md">
                  <ol class="relative border-l-8 border-white">
                    <li class="ml-4">
                      <div
                        class="absolute w-6 h-6 bg-white rounded-full -mt-0.5 -left-4 border border-white">
                      </div>
                      <div class="mt-8 pb-8">
                        <div class="relative text-lg font-medium text-white md:flex-grow">
                          <time
                            class="block pb-2 text-sm font-normal text-white dark:text-opacity-50 text-opacity-100">
                            {{ .start_date }} - {{ .end_date }}
                          </time>
                          <h3 class="relative font-bold text-2xl pb-2 text-white">
                            {{ .title }} · {{ .company }}
                          </h3>
                          <p class="font-normal text-white text-opacity-80">
                            {{ .description }}
                          </p>
                        </div>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          <!-- /Latest experience -->

          <!-- Past experience -->
          <div class="relative max-w-md sm:max-w-3xl lg:max-w-none">
            <div class="relative px-8 max-w-md">
              <div class="space-y-6 text-gray-900 dark:text-white">
                <!-- Timeline -->
                <ol class="relative pt-9 border-l border-gray-200 dark:border-gray-700">
                  {{ range $index, $job := .jobs }}
                  {{ if eq $index 0 }}
                  {{ continue }}
                  {{ end }}
                  <!-- List item -->
                  <li class="mb-4 ml-4">
                    <div
                      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 hover:bg-white dark:hover:bg-white">
                    </div>
                    <time
                      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                      {{ .start_date }} - {{ .end_date }}
                    </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      {{ .title }} · {{ .company }}
                    </h3>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                      {{ .description }}</p>
                  </li>
                  <!-- /List item -->
                  {{ end }}
                </ol>
                <!-- /Timeline -->
              </div>
            </div>
          </div>
          <!-- /Past experience -->
        </div>
      </article>
      {{ end }}
      <!-- END Experience -->
    </div>
  </div>
</section>
{{ end }}
