{{ define "main" }}
<!-- Banner -->
<section class="section pt-14">
  <div class="container flex flex-nowrap">
    <div class="w-60 z-90">
      {{ partial "essentials/logo.html" . }}
    </div>
    <div>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
      <p>Soy Miguel Vidal. Desarrollador de software, aficionado al diseño y la tecnología</p>
    </div>
  </div>
</section>
<!-- /Banner -->
{{ end }}
