{{ define "main" }}
<section class="section -mt-30">
  <div class="container flex flex-nowrap flex-col md:flex-row">
    <div class="w-full md:w-64 z-90">
      <!-- Logo -->
      <div class="sticky top-0">
        <div class="max-w-full size-100 md:size-64 mx-auto">
          <hyper-card class="max-w-full size-100 md:size-64 flex rounded-2xl">
            <a
              href="/"
              data-script="
  on mouseenter
  transition #main-content's opacity to 0.4 over 100ms
  {{ range site.Menus.main }}
    add .box-emphasis to #{{.Name}}
    transition #{{.Name}}'s scale to 1.1 over 100ms
  {{ end }}
  {{ range site.Data.social.main }}
    add .box-emphasis to #{{.name}}
    transition #{{.name}}'s scale to 1.1 over 100ms
  {{ end }}
  end
  on mouseleave
  transition #main-content's opacity to initial over 100ms
  {{ range site.Menus.main }}
    remove .box-emphasis from #{{.Name}}
    transition #{{.Name}}'s scale to initial over 100ms
  {{ end }}
  {{ range site.Data.social.main }}
    remove .box-emphasis from #{{.name}}
    transition #{{.name}}'s scale to initial over 100ms
  {{ end }}
  end
"
            >
              <svg style="width: 100%; height: 100%;" width="2775" height="2881" viewBox="0 0 2775 2881" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="1432" y1="129" x2="2751" y2="129" stroke="black" stroke-width="100"/>
                <line x1="1427" y1="1011" x2="2702" y2="1011" stroke="black" stroke-width="100"/>
                <line x1="113" y1="1011" x2="1432" y2="1011" stroke="black" stroke-opacity="0.1" stroke-width="100"/>
                <line x1="1432" y1="1884" x2="2651" y2="1884" stroke="black" stroke-opacity="0.1" stroke-width="100"/>
                <line x1="2092" y1="564" x2="2746" y2="564" stroke="black" stroke-width="100"/>
                <line x1="1437" y1="394" x2="1437" y2="1021" stroke="black" stroke-width="100"/>
                <line x1="1437" y1="1274" x2="1437" y2="2735" stroke="black" stroke-width="100"/>
                <line y1="-50" x2="712.113" y2="-50" transform="matrix(0.807554 0.589794 -0.511484 0.859293 2051.93 1044)" stroke="black" stroke-width="100"/>
                <line x1="208.539" y1="182.268" x2="799.539" y2="572.268" stroke="black" stroke-width="100"/>
                <line y1="-50" x2="793.08" y2="-50" transform="matrix(0.834648 -0.550783 -0.550783 -0.834648 718 531)" stroke="black" stroke-width="100"/>
                <line y1="-50" x2="724.261" y2="-50" transform="matrix(0.80772 -0.589566 -0.51126 -0.859426 2042 1851)" stroke="black" stroke-width="100"/>
                <line x1="1427" y1="1884" x2="2098" y2="1884" stroke="black" stroke-width="100"/>
                <line x1="212" y1="1884" x2="1387" y2="1884" stroke="black" stroke-opacity="0.1" stroke-width="100"/>
                <line x1="1449" y1="2685" x2="2746" y2="2685" stroke="black" stroke-width="100"/>
                <line x1="162" y1="133" x2="162" y2="1054" stroke="black" stroke-width="100"/>
                <line x1="2701" y1="514" x2="2701" y2="1061" stroke="black" stroke-width="100"/>
                <path d="M112 61.0002L248 148H112V61.0002Z" fill="black"/>
                <rect x="112" y="148" width="136" height="43" fill="black"/>
                <path d="M1510.35 79.1697L1281 159.737L1398.5 79.1697L1510.35 79.1697Z" fill="black"/>
                <rect x="1371" y="101" width="78" height="78" fill="black"/>
                <rect x="104" y="2655" width="142" height="80" fill="black"/>
                <line y1="-50" x2="2108.21" y2="-50" transform="matrix(0.597188 -0.802101 -0.802101 -0.597188 159 2673)" stroke="black" stroke-width="100"/>
                <rect x="276.982" y="2682" width="116.806" height="160.482" transform="rotate(36.7332 276.982 2682)" fill="white"/>
                <rect x="95.9824" y="2562" width="116.806" height="160.482" transform="rotate(36.7332 95.9824 2562)" fill="white"/>
                <rect width="142" height="80" transform="matrix(-1 0 0 1 1504 2655)" fill="black"/>
                <line x1="1408.89" y1="2702.86" x2="149.895" y2="1011.86" stroke="black" stroke-width="100"/>
                <rect width="116.806" height="160.482" transform="matrix(-0.801429 0.59809 0.59809 0.801429 1331.02 2682)" fill="white"/>
                <path d="M2627.32 1544.68L2625.56 1340.44L2774.13 1447.41L2627.32 1544.68Z" fill="black"/>
                <line x1="162" y1="1054" x2="162" y2="2735" stroke="black" stroke-opacity="0.1" stroke-width="100"/>
                <line x1="2701" y1="154" x2="2701" y2="2742" stroke="black" stroke-opacity="0.1" stroke-width="100"/>
                <line x1="1437" y1="154" x2="1437" y2="2702" stroke="black" stroke-opacity="0.1" stroke-width="100"/>
                <line x1="190" y1="2685" x2="1465" y2="2685" stroke="black" stroke-opacity="0.1" stroke-width="100"/>
              </svg>
            </a>
          </hyper-card>
        </div>
        <div class="spacer size-4"></div>
        <div class="mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
          <ul class="social-icons flex justify-center">
            {{ range site.Data.social.main }}
            <li>
              <a
                id="{{ .name }}"
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}"
                class="social-icon"
                data-script="install BoxHighlight">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <!-- END Logo -->
    </div>
    <div id="main-content" class="container">
      <article class="content max-w-xl">
        {{ .Content }}
      </article>
      <!-- Experience -->
      {{ with .Params.experience }}
      <article id="experience" class="relative my-4 max-w-xl">
        <h2
          class="text-3xl mb-[0.3em] font-bold capitalize dark:text-gray-50 sm:text-4xl">
          {{ .title }}
        </h2>

        <div>
          <!-- Latest experience -->
          {{ range $index, $job := .jobs }}
          {{ if eq $index 0 }}
          <div class="relative">
            <div class="relative max-w-md sm:max-w-3xl lg:max-w-none">
              <div class="relative pt-8 overflow-hidden shadow-xl rounded-2xl">
                <div class="absolute inset-0 bg-indigo-300 mix-blend-multiply"></div>
                <div class="absolute inset-0 bg-gradient-to-t from-indigo-600">
                </div>

                <div class="relative px-8 max-w-md">
                  <ol class="relative border-l-8 border-white">
                    <li class="ml-4">
                      <div
                        class="absolute w-6 h-6 bg-white rounded-full -mt-0.5 -left-4 border border-white">
                      </div>
                      <div class="mt-8 pb-8">
                        <div class="relative text-lg font-medium text-white md:flex-grow">
                          <time
                            class="block pb-2 text-sm font-normal text-white dark:text-opacity-50 text-opacity-100">
                            {{ .start_date }} - {{ .end_date }}
                          </time>
                          <h3 class="relative font-bold text-2xl pb-2 text-white">
                            {{ .title }} · {{ .company }}
                          </h3>
                          <p class="font-normal text-white text-opacity-80">
                            {{ .description }}
                          </p>
                        </div>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          <!-- /Latest experience -->

          <!-- Past experience -->
          <div class="relative max-w-md sm:max-w-3xl lg:max-w-none">
            <div class="relative px-8 max-w-md">
              <div class="space-y-6 text-gray-900 dark:text-white">
                <!-- Timeline -->
                <ol class="relative pt-9 border-l border-gray-200 dark:border-gray-700">
                  {{ range $index, $job := .jobs }}
                  {{ if eq $index 0 }}
                  {{ continue }}
                  {{ end }}
                  <!-- List item -->
                  <li class="mb-4 ml-4">
                    <div
                      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 hover:bg-white dark:hover:bg-white">
                    </div>
                    <time
                      class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                      {{ .start_date }} - {{ .end_date }}
                    </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      {{ .title }} · {{ .company }}
                    </h3>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                      {{ .description }}</p>
                  </li>
                  <!-- /List item -->
                  {{ end }}
                </ol>
                <!-- /Timeline -->
              </div>
            </div>
          </div>
          <!-- /Past experience -->
        </div>
      </article>
      {{ end }}
      <!-- END Experience -->
    </div>
  </div>
</section>
{{ end }}
